name: End-to-end tests
on: [push]
jobs:
  build-and-test:
    name: Test on node ${{ matrix.os }} and ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]

    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-node@v3
          with: 
            node-version: ${{ matrix.node-version }}
        - run: npm ci
        - run: npm run test